<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation" xmlns="http://www.w3.org/1999/html">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :event_id %></br>
    <%= text_field_tag @event.name %>
  </div>
  <div class="field">
    <%= f.label :availability %><br />
    <%= f.text_field :availability %>
  </div>
  <div class="field">
    <%= f.label :roles %><br />
    <%= f.text_area :roles %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
